@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #d1d5db;
}

/* Animações para menu-secondary */
.menu-secondary-enter {
  opacity: 0;
  transform: translateX(100%);
}
.menu-secondary-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.menu-secondary-exit {
  opacity: 1;
}
.menu-secondary-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 150ms, transform 150ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-col-gap-2 {
  @apply flex flex-col gap-2;
}

.navbar-contact-buttons {
  @apply font-bold opacity-50 hover:opacity-100 cursor-pointer text-[0.60rem];
}

.mobile-sidebar {
  @apply flex gap-3 items-center justify-center p-3 bg-zinc-300 hover:bg-zinc-500 flex-grow rounded font-semibold;
}

.mobile-sidebar-link {
  @apply flex items-center flex-row px-1 py-2  rounded-md hover:cursor-pointer;
}

.footer-icons {
  @apply flex items-center gap-4;
}
